{% extends 'master.html' %}
<!-- {% load static %} -->

{% if liste%}
  {% block title %}
    Detail of student 
    {% endblock %}

    {% block content %}
    <div class="container">
      <div class='row'>
        <div class='col-sm-2'>
          <h3>{{liste.first_name}} {{liste.last_name}}</h3>
          {{liste.birth_date}}
          {{liste.phone}}
          {{liste.email}}
          {{liste.cursus}}
          {{liste.comment}}
        </div>
      </div>
      <a class="btn btn-primary" href="edit/{{ liste.pk }}" role="button">Edit Student Data</a>
      <div class="container">
        <div class="container">
          <div class="row">

          </div>
        </div>
      </div>
    </div>
    {% endblock %}
{% else %}
  <p>No student to show </p>
{% endif %}