{% extends "master.html" %}
{% load static %}

{% if liste%}
  {% block title %}
    <h3>Update a student</h3>
  {% endblock %}

  {% block content %}
    <form method="POST">
      {% csrf_token %}
       <!-- cross site request forgery -->

      {{ form.as_p }}
      <div class="boutons">
        <button class = "button raduis aler left" type='cancel'>
          <a href={% url 'index' %}></a>
          Cancel
        </button>
        <button class = "button raduis succes right" type='submit'>
          Submit
        </button>
      </div>
    </form>
  {% endblock %}
{% else %}
  <p> No cursus to show .</p>
{% endif %}